#general {
 border: 1px solid #b8b894;
 max-width: 300px;
 padding: 10px;
 box-shadow: 5px 5px #ebebe0;
 border-radius: 5px;
}

.animal-name {
  text-transform: capitalize;
}

#animal-part-two {
  margin-top: 10px;
  max-width: 300px;
  border: 1px solid #b8b894;
  padding: 10px;
}

#animal-part-two > :first-child {
  font-style: italic;
}

#animal-part-two ul {
  padding-left: 0px;
}

#animal-part-two ul li {
  list-style-type: none;
}

#animal-part-two ul li span {
  font-weight: bold;
}
